*, *::before, *::after{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;  /*사용되는 글꼴은 나열된 순서대로 우선권을 가진다*/
    font-weight: normal;
}

body{  /*배경색 설정*/ 
    padding: 0;
    margin: 0;
    background:linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid { /*계산기 전체를 감싼다*/
    display: grid;  /*그리드 적용 시작 설정*/
    justify-content: center;
    align-content:center; /*align-items: 이었음*/
    min-height:100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5,100px);
}
/**/ 
.calculator-grid >button{
    cursor: pointer;
    font-size:2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255,255,255,.75);
}

.calculator-grid >button:hover{
    background-color: rgba(255,255,255,.9);
}

.span-two{
    grid-column: span 2; 
}

.output {   /*출력 창 설정*/ 
    grid-column: 1/-1;
    background-color: rgba(0,0,0, .75);
    display: flex;
    align-items: flex-end; /*수직축 방향 정렬: 끝(바닥)에 정렬*/
    justify-content:  space-around; /*메인축 방향(가로) 정렬: 아이템들의 둘레에 간격 넣기 */
    flex-direction: column; /*구성요소를 세로(열)로 나열*/ 
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand{
    color:rgba(255,255,255,.75);
    font-size: 1.5rem;
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}